<div class="p-2">
  <!-- <input type="file" (change)="fileChangeEvent($event)" />
<br />
<br /> -->
  <button (click)="rotateLeft()" class="btn btn-outline-info waves-effect px-3" title="rotate left" ><i class="fas fa-undo"></i></button>
  <button (click)="rotateRight()" class="btn btn-outline-info waves-effect px-3" title="rotate right" ><i class="fas fa-redo"></i></button>
  <button (click)="flipHorizontal()" class="btn btn-outline-info waves-effect px-3"title="flip Horizontal left"><i class="fas fa-arrows-alt-h"></i></button>
  <button (click)="flipVertical()" class="btn btn-outline-info waves-effect px-3"title="flip Vertical"><i class="fas fa-arrows-alt-v"></i></button>
  <button (click)="toggleContainWithinAspectRatio()" class="btn btn-outline-info waves-effect px-3"  title="{{containWithinAspectRatio?'Fill Aspect Ratio':'Contain
  Within
  Aspect Ratio'}}"> <i class="fas fa-expand"></i></button>
  <button (click)="resetImage()" title="reset Image" class="btn btn-outline-info waves-effect px-3"><i class="fas fa-trash-restore-alt"></i></button>
  <br />
  <br />

  <div class="input-group mb-3">
    
    <input [(ngModel)]="rotation" class="form-control" placeholder="Rotation" type="number"  (keyup)="updateRotation()" />  
    <div class="input-group-prepend">
      <button
      (click)="zoomOut()" class="btn btn-outline-info waves-effect px-3"><i class="fas fa-search-minus"></i></button>
       <button class="btn btn-outline-info waves-effect px-3" (click)="zoomIn()"><i class="fas fa-search-plus"></i></button>    </div>
  </div>
   

  <div>
    <image-cropper [imageBase64]="imageChangedEvent" [maintainAspectRatio]="true"
      [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4 / 3" [resizeToWidth]="256"
      [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false" [canvasRotation]="canvasRotation"
      [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="jpg"
      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
      (loadImageFailed)="loadImageFailed()"></image-cropper>
  </div>
  <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
</div>