<div class="page-wrapper chiller-theme">
  <!-- <a id="show-sidebar" class="btn btn-sm btn-dark mt-2" href="javascript:;" style="z-index: 2;">
    <i class="fas fa-bars"></i>
  </a> -->
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="javascript:;">My Project</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded"
            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>Anand Singh Baghel</strong>
          </span>
          <span class="user-role">Administrator</span>
          <!-- <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span> -->
        </div>
      </div>
      <!-- sidebar-header  -->
      <!-- <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div> -->
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <!-- <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="javascript:;">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
              <span class="badge badge-pill badge-warning">New</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['/relatives/add-relative']">लड़के / लड़की के रिश्तेदारों की लिस्ट जोड़ें 
                    <span class="badge badge-pill badge-success">Pro</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/relatives']">रिश्तेदारों की लिस्ट</a>
                </li>
                <li>
                  <a href="javascript:;">Dashboard 3</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="javascript:;">
              <i class="fa fa-shopping-cart"></i>
              <span>E-commerce</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="javascript:;">Products

                  </a>
                </li>
                <li>
                  <a href="javascript:;">Orders</a>
                </li>
                <li>
                  <a href="javascript:;">Credit cart</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="javascript:;">
              <i class="far fa-gem"></i>
              <span>Components</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="javascript:;">General</a>
                </li>
                <li>
                  <a href="javascript:;">Panels</a>
                </li>
                <li>
                  <a href="javascript:;">Tables</a>
                </li>
                <li>
                  <a href="javascript:;">Icons</a>
                </li>
                <li>
                  <a href="javascript:;">Forms</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="javascript:;">
              <i class="fa fa-chart-line"></i>
              <span>Charts</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="javascript:;">Pie chart</a>
                </li>
                <li>
                  <a href="javascript:;">Line chart</a>
                </li>
                <li>
                  <a href="javascript:;">Bar chart</a>
                </li>
                <li>
                  <a href="javascript:;">Histogram</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="javascript:;">
              <i class="fa fa-globe"></i>
              <span>Maps</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="javascript:;">Google maps</a>
                </li>
                <li>
                  <a href="javascript:;">Open street map</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li> -->
          <li>
            <a [routerLink]="['/dashboard']">
              <i class="fa fa-folder"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/add-candidate']">
              <i class="fa fa-folder"></i>
              <span>वर / वधु की सूची में जोड़ें</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/relatives/add-relative']">
              <i class="fa fa-book"></i>
              <span>लड़के / लड़की के रिश्तेदारों की लिस्ट जोड़ें</span>
              <!-- <span class="badge badge-pill badge-primary">Beta</span> -->
            </a>
          </li>
          <li>
            <a [routerLink]="['/relatives']">
              <i class="fa fa-calendar"></i>
              <span>रिश्तेदारों की लिस्ट</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/central-persons']">
              <i class="fa fa-folder"></i>
              <span>जिलेवार मुख्य व्यक्तियों की सूची</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <span class="font-bold m-auto p-2" style="color: white;">Version 1.1</span>
      <!-- <a href="javascript:;">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="javascript:;">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="javascript:;">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="javascript:;">
        <i class="fa fa-power-off"></i>
      </a> -->
    </div>
  </nav>
</div>
