<!-- style="  padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);" -->
<div class="row">
    <div class="col-md-6 m-auto">
        <form [formGroup]="signupForm" class="box">
            <h1>Registration</h1>
            <div class="d-flex flex-wrap">
                <input type="text" formControlName="name" class="form-control" placeholder="Name"
                    [ngClass]="{ 'touchedErroredInput': f.name.errors && f.name.touched }">
                    
                <select formControlName="gender" class="form-control" placeholder="Select age"
                [ngClass]="{ 'touchedErroredInput': f.gender.errors && f.gender.touched }">
                    <option value="">None</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <input type="text" formControlName="spouse" class="form-control" placeholder="पति / पत्नि का नाम" [ngClass]="{ 'touchedErroredInput': f.spouse.errors && f.spouse.touched }">

                <select formControlName="thakurType" class="form-control" placeholder="Select type" [ngClass]="{ 'is-invalid': f.thakurType.errors && f.thakurType.touched }">
                    <option value="">कौन से क्षत्रिय हैं</option>
                    <option [value]="type.value" *ngFor="let type of thakurType">{{type.label}}</option>
                </select>

                <input type="date" formControlName="dob" class="form-control" placeholder="Date" (change)="calculateAge($event)" [ngClass]="{ 'touchedErroredInput': f.dob.errors && f.dob.touched }">

                <input type="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'touchedErroredInput': f.email.errors && f.email.touched }">

                <input type="text" formControlName="mobile" class="form-control" maxlength="10"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Mobile No" [ngClass]="{ 'touchedErroredInput': f.mobile.errors && f.mobile.touched }">

                <input type="text" formControlName="state" class="form-control" placeholder="State / राज्य" [ngClass]="{ 'touchedErroredInput': f.state.errors && f.state.touched }">

                <input type="text" formControlName="district" class="form-control" placeholder="District / जिला" [ngClass]="{ 'touchedErroredInput': f.district.errors && f.district.touched }">

                <input type="text" formControlName="village" class="form-control" placeholder="Village / गाँव" [ngClass]="{ 'touchedErroredInput': f.village.errors && f.village.touched }">

                <input type="text" formControlName="password" class="form-control" placeholder="पासवर्ड" [ngClass]="{ 'touchedErroredInput': f.password.errors && f.password.touched }">

                <input type="text" formControlName="confirmPwd" class="form-control" placeholder="कन्फर्म पासवर्ड" [ngClass]="{ 'touchedErroredInput': f.confirmPwd.errors && f.confirmPwd.touched }">

            </div>
            <!-- <button type="button" class="btn btn-primary" (click)="login();">Login</button> -->
            <input type="button" class="login-btn" name="" value="Submit">
             <a class="forgot text-muted" [routerLink]="['/auth/sign-in']">Sign In</a>
        </form>
    </div>
</div>