<div class="bg-gray-xxd d-flex">
    <a href="javascript:;" class="text-white small m-auto">
        <em>
            LET IT SHINE: 20% Off Prints, Wall Decor, Photo Books, &amp; Gifts w/ code SHINEON. SHOP. | Free shipping on Orders $49+
        </em>
    </a>
</div>