<div class="wrapper">
	<div class="content-area back-drop-section">
		<!-- <div class="header-wrp">
			<app-additional-nav-bar *ngIf="!isCustomizationMode"></app-additional-nav-bar>
			<app-navbar></app-navbar>
		</div>		 -->
		<router-outlet></router-outlet>
	</div>	
	<!-- <div class="sidebar" >
		<app-sidebar></app-sidebar>	
	</div> -->
</div>