.top-header {
    margin-left: 3rem !important;
    margin-top: 0.7rem;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
}

.bottom-header {
    margin-left: 3rem !important;
    line-height: 13px;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
}

.navbar-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.navbar-btn-section {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

#view-title {
    margin: 0;
}

#header-done-button {
    border-radius: 0;
    color: #fff;
    fill: #fff;
    background-color: #3caac2;
    border-color: #3caac2;
}

#header-link-button {
    border-radius: 0;
    color: #00000094;
    fill: #fff;
    background-color: #ffff;
    border-color: #ffff;
    box-shadow: 1px 1px 4px -1px grey;
    padding: 3px 8px;
    font-size: 13px;
}

.gallary {
    height: 283px;
    background-color: #e8ebee;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.gallary-pics img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: white;
    cursor: pointer;
}

.img-selected {
    border: 2px solid deepskyblue;
}

.remove-all img:hover {
    background-color: #eef5ee;
}

.slide-element {
    overflow-x: scroll;
    display: -webkit-box;
}

.missing-photos {
    width: 85px !important;
    height: 85px !important;
    border: 1px dashed #80808052;
    border-style: dashed;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    font-size: 20px;
    border-width: 3px;
}

.slide-element .missing-photos:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.image-selected {
    position: absolute;
    background: #3caac2;
    color: white;
    border-radius: 50%;
    padding: 7px;
    bottom: 26px;
    left: 6px;
}

.missing-photos img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}