<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 nav-fixed d-block">
  <div class="p-2 x-small d-flex justify-content-between top-header-container"
  style="border-bottom: 1px solid #e6e6e6;">
  <div class="navbar-title">
    <a class="logo--mobile--container hidden-xxs" href="javascript:;">
      <img src="//d2nysvt2e2u12u.cloudfront.net/img/NPLwebsite17_header_mobile_logo.png" class="logo--mobile"
        style="vertical-align: middle;">
    </a>
    <span id="view-title" tabindex="1" class="hidden-xs">Choose your photos</span>
  </div>
  <div class="navbar-btn-section">
    <div class="d-flex">
      <div class="save-btn d-flex align-items-center">
        <img src="./assets/images/floppy-disk.png" alt="" width="20">
        <span class="ml-2">SAVE</span>
      </div>
      <div class="help-btn d-flex align-items-center ml-4">
        <img src="./assets/images/question.png" alt="" width="20">
        <span class="ml-2">HELP</span>
      </div>
      <div class="help-btn d-flex align-items-center ml-4">
        <button id="header-done-button" class="btn btn-primary btn-raised btn-nav" (click)="goToViewer()" title="Customize my book">
          <span>Customize my book <i class="fa fa-arrow-right"></i> </span>
          <span class="mediaclipicon-arrow-right"></span>
        </button>
      </div>
    </div>
    <div></div>
    <div></div>
  </div>
  </div>
  <div class="p-2 x-small d-flex justify-content-between top-header-container"
  style="box-shadow: 0px 1px 3px -1px lightslategrey;">
  <div class="navbar-title">
    <span id="view-title" tabindex="1" class="hidden-xs">My Gallaries</span>
  </div>
  <div class="navbar-btn-section">
    <div class="d-flex">
      <div class="save-btn d-flex align-items-center">
        <button id="header-link-button" class="btn btn-primary btn-raised btn-nav" (click)="selectedAllImages()" title="Customize my book">
          <span>Select all</span>
        </button>
      </div>
      <div class="help-btn d-flex align-items-center ml-4">
        <button id="header-link-button" class="btn btn-primary btn-raised btn-nav" (click)="deselectedAllImages()" title="Customize my book">
          <span>Deselect all</span>
        </button>
      </div>
      <div class="help-btn d-flex align-items-center ml-4">
        <input type="file" id="file-upload" class="d-none" multiple (change)="onFileUpload($event)">
        <button type="button" id="header-done-button" (click)="triggerFileUpload()" class="btn btn-primary btn-raised btn-nav" title="Customize my book">
          <span>Upload Photos</span>
          <span class="mediaclipicon-arrow-right"></span>
        </button>
      </div>
    </div>
    <div></div>
    <div></div>
  </div>
  </div>
</nav>
<div class="">
    <div class="gallary">
        <div class="gallary-pics pt-4 pb-4 ml-3" *ngFor="let image of images" style="position: relative;">
            <img [src]="image.src" alt="" class="img-fluid mx-auto" [class.img-selected]="isSelectedImage(image)" width="200" height="150" (click)="onPictureClick(image)">
            <i class="fa fa-check image-selected" [class.d-none]="!isSelectedImage(image)"></i>
        </div>
    </div>
    <div class="p-4">
        <div class="mt-2 d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <h6 class="m-0">Selected Photos</h6>
                <span class="badge badge-pill badge-info ml-2"
                    style="border-radius: 50%; height: 25px; padding-top: 8px; font-size: 12px;">{{selectedImages.length}}</span>
                <span class="ml-4" *ngIf="images.length>0">Add <b>{{frames.length}}</b> photo(s)</span>
            </div>
            <div>
                <a href="javascript:;" class="remove-all"  (click)="deselectedAllImages()">
                    <img src="./assets/images/dustbin.png" alt="" width="40" height="40">
                </a>
            </div>
        </div>
        <div class="mt-4 slide-element">
            <div class="missing-photos" *ngFor="let image of selectedImages">
                <img [src]="image.src" alt="" class="img-fluid" width="100%" height="100%">
            </div>
            <div class="missing-photos" *ngFor="let img of frames; let i = index;">   
{{i+1+selectedImages.length}}
            </div>
        </div>
        <span class="font-bold mt-1">Pages</span>
    </div>
</div>