<div class="row">
  <div class="col-md-8">
    <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
      <!-- slides -->
      <div class="carousel-inner">
        <ng-container *ngFor="let image of images; let i=index;">
          <div class="carousel-item" [ngClass]="[image.active==true ? 'active':'', i+1 ? 'item'+i: '']"> <img
              [src]="image.src" alt="Hills">
          </div>
        </ng-container>
      </div>
      <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span
          class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span
          class="carousel-control-next-icon"></span>
      </a>
      <ol class="carousel-indicators list-inline">
        <ng-container *ngFor="let image of images; let i=index;">
          <li class="list-inline-item" [ngClass]="{'active': image.active==true}">
            <a id="{{'carousel-selector-' + i}}" class="selected" [attr.data-slide-to]="i" data-target="#custCarousel">
              <img [src]="image.src" class="img-fluid">
            </a>
          </li>
        </ng-container>
      </ol>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>