<div class="row">
  <div class="col-md-6" style="  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);">
    <form class="box">
      <h1>Login</h1>
      <p class="text-muted"> Please enter your login and password!</p>
      <input type="text" name="" placeholder="Username">
      <input type="password" name="" placeholder="Password">
      <a class="forgot text-muted" href="#">Forgot password?</a>
      <!-- <button type="button" class="btn btn-primary" (click)="login();">Login</button> -->
      <input type="button" class="login-btn" name="" value="Login" (click)="login();">
      <span class="text-muted">Have not account? &nbsp; &nbsp; &nbsp; </span> <a class="forgot text-muted" [routerLink]="['/auth/sign-up']">Sign Up</a>
      <div class="col-md-12">
        <ul class="social-network social-circle">
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
        </ul>
      </div>
    </form>
  </div>
</div>
