<div class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="index.html">Photolab</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" [title]="item.label" *ngFor="let item of themeCategory; let i=index;">
            <a class="nav-link" href="javascript:;" [ngStyle]="{'background-color' : item.active ? 'lightskyblue' : 'black',  'color' : item.active ? 'white' : 'white'}" (click)="selectTheme(i)">
              <i class="fa fa-fw fa-all"></i>
              <span class="nav-link-text">{{item.label}}</span>
            </a>
          </li> 
          <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="pages">
            <div class="form-group">
                <select type="text" class="form-control">
                    <option value="leather"></option>
                    <option value=""></option>
                </select>
            </div>
          </li>    -->
        </ul>
  
  
      </div>
    </nav>
    <div class="content-wrapper mt-5 px-2">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <div class="row text-center">
          <div class="col-xs-12 col-sm-6 col-md-6 footer-column mb-3" *ngIf="selectedTheme=='all' || selectedTheme=='two-sided'">
            <div class="albumType">
              <div class="bgTypeImg">
                <img src="./assets/images/file.jfif" alt="" class="sidebar-img p-2" width="30%" height="30%"
                  style="cursor: pointer;" />
              </div>
              <hr />
              <div class="col-md-12">
                <div class="row">
                  <div class="col text-left">
                    <p class="font-weight-bold">Full page photos (Two Sided)</p>
                    <p class="font-weight-normal" style="color: rgb(175, 175, 175);"><i>From $99.00</i></p>
                  </div>
                  <div class="col text-right">
                    <button type="button" class="btn btn-info" (click)="goToPhotopicker(categoryList[0])">Select</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Column -->
          <div class="col-xs-12 col-sm-6 col-md-6 footer-column" *ngIf="selectedTheme=='all' || selectedTheme=='two-sided'">
            <div class="albumType">
              <div class="bgTypeImg">
                <img src="./assets/images/file.jfif" alt="" class="sidebar-img p-2" width="30%" height="30%"
                  style="cursor: pointer;" />
              </div>
              <hr />
              <div class="col-md-12">
                <div class="row">
                  <div class="col text-left">
                    <p class="font-weight-bold">Blank Theme (Two Sided)</p>
                    <p class="font-weight-normal" style="color: rgb(175, 175, 175);"><i>From $99.00</i></p>
                  </div>
                  <div class="col text-right">
                    <button type="button" class="btn btn-info" (click)="goToPhotopicker(categoryList[1])">Select</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Column -->
          <div class="col-xs-12 col-sm-6 col-md-6 footer-column" *ngIf="selectedTheme=='all' || selectedTheme=='panoramic'">
            <div class="albumType">
              <div class="bgTypeImg">
                <img src="./assets/images/file.jfif" alt="" class="sidebar-img p-2" width="30%" height="30%"
                  style="cursor: pointer;" />
              </div>
              <hr />
              <div class="col-md-12">
                <div class="row">
                  <div class="col text-left">
                    <p class="font-weight-bold">Full page photos (Panoramic)</p>
                    <p class="font-weight-normal" style="color: rgb(175, 175, 175);"><i>From $99.00</i></p>
                  </div>
                  <div class="col text-right">
                    <button type="button" class="btn btn-info" (click)="goToPhotopicker(categoryList[2])">Select</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Column -->
          <div class="col-xs-12 col-sm-6 col-md-6 footer-column" *ngIf="selectedTheme=='all' || selectedTheme=='panoramic'">
            <div class="albumType">
              <div class="bgTypeImg">
                <img src="./assets/images/file.jfif" alt="" class="sidebar-img p-2" width="30%" height="30%"
                  style="cursor: pointer;" />
              </div>
              <hr />
              <div class="col-md-12">
                <div class="row">
                  <div class="col text-left">
                    <p class="font-weight-bold">Blank Theme (Panoramic)</p>
                    <p class="font-weight-normal" style="color: rgb(175, 175, 175);"><i>From $99.00</i></p>
                  </div>
                  <div class="col text-right">
                    <button type="button" class="btn btn-info" (click)="goToPhotopicker(categoryList[3])">Select</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Column -->
        </div>
  
      </div>
      <!-- /.container-fluid-->
  
  
  
    </div>
  </div>