/* .main {
  padding: 12rem 1rem;
} */

div.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}

div.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;
}

.dropdown-toggle::after {
  color: white;
}

.nav-fixed {
  /* position: fixed;
  width: 100%;
  z-index: 1; */
}

.navbar-toggler {
  background: white;
}

nav {
  background-color: white !important;
}

.filter {
  font-size: 17px;
  color: white !important;
}

@media only screen and (max-width: 991px) {
  .top-header-container {
    display: none !important;
  }
}