<div class="container-fluid main" style="background-color: #ffff;">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light pb-0 pt-0 nav-fixed d-block"
        [class.p-0]="isCustomizationMode">
        <div class="container-fluid p-0 x-small justify-content-between top-header-container" *ngIf="!isCustomizationMode">
          <ul class="navbar-nav top-header">
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">ORDER PRINTS</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">SIGN IN</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">SIGN UP</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item d-flex align-items-center mr-3">
              <span>Free Shipping On orders $49+</span>
              <a href="javascript:;" class="nav-link ">Details</a>
            </li>
          </ul>
        </div>
        <div class="container-fluid p-0 x-small" *ngIf="!isCustomizationMode">
          <a class="mx-auto" href="javascript:;">
            <img src="//d2nysvt2e2u12u.cloudfront.net/img/desktop-logo.png" alt="Nations Photo Lab">
          </a>
        </div>
        <div class="container-fluid p-0 x-small justify-content-between top-header-container" *ngIf="!isCustomizationMode">
          <ul class="navbar-nav mt-4 bottom-header">
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">PRINTS</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">
                PHOTO ALBUMS</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">
                PHOTO BOOKS</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">CARDS</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">
                PHOTO GIFTS</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">
                WELL DECOR</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">
                OCCASIONS</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">
                SHOP ALL</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-3">
              <a href="javascript:;" class="nav-link ">
                SALE</a>
            </li>
          </ul>
        </div>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item d-flex align-items-center mr-4">
              <a href="javascript:;">
                <i class="fas fa-filter filter"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button" data-target="dropdown1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user fa-lg" aria-hidden="true" style="color: white;"></i>
              </a>
              <div class="dropdown-menu" id="dropdown1" aria-labelledby="navbarDropdown" style="right: 0; left: auto;">
                <a class="dropdown-item" href="javascript:;">View Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:;">Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/auth/sign-in']">Logout</a>
              </div>
            </li>
          </ul>
        </div> -->
      </nav>
    </div>
  </div>
</div>