
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 nav-fixed d-block">
  <div class="p-2 x-small d-flex justify-content-between top-header-container"
    style="border-bottom: 1px solid #e6e6e6; display: flex;">
    <div class="navbar-title">
      <a class="logo--mobile--container hidden-xxs" href="javascript:;">
        <img src="//d2nysvt2e2u12u.cloudfront.net/img/NPLwebsite17_header_mobile_logo.png" class="logo--mobile"
          style="vertical-align: middle;">
      </a>
      <span id="view-title" tabindex="1" class="hidden-xs">Choose your photos</span>
    </div>
    <div class="navbar-btn-section" style="display: flex;">
      <div class="d-flex" style="display: flex;">
        <div class="save-btn d-flex align-items-center">
          <img src="./assets/images/floppy-disk.png" alt="" width="20">
          <span class="ml-2">SAVE</span>
        </div>
        <div class="help-btn d-flex align-items-center ml-4">
          <img src="./assets/images/question.png" alt="" width="20">
          <span class="ml-2">HELP</span>
        </div>
        <div class="help-btn d-flex align-items-center ml-4">
          <button id="header-done-button" class="btn btn-primary btn-raised btn-nav" [routerLink]="['/viewer']"
            title="Customize my book">
            <span>ADD TO CART</span>
          </button>
        </div>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="p-1 x-small d-flex justify-content-between top-header-container"
    style="box-shadow: 0px 1px 3px -1px lightslategrey; display: flex;">
    <div class="navbar-title">
      <span id="view-title" tabindex="1" class="hidden-xs">My Gallaries</span>
    </div>
  </div>
</nav>
<div id="wrapper3">
  <div id="sidebar-close">
    <i class="fa fa-times"></i>
  </div>
</div>
<div id="wrapper2">
  <div id="sidebar-content-wrapper">
    <div class="wrapper2-content-wrapper">
      <div class="header">
        <h5 class="p-1 pt-3">{{currentMenu}}</h5>
      </div>
      <div *ngIf="currentMenu=='Photo'">
        <div class="d-flex flex-wrap" style="overflow-y: scroll;">
          <ng-container *ngFor="let image of selectedImages; let i=index;">
            <img [src]="image.src" alt="" class="sidebar-img p-2" width="50%" height="50%" style="cursor: pointer;"
              (click)="setImgOnLayout(image)" *ngIf="i>0 && i<selectedImages.length-1">
          </ng-container>
        </div>
      </div>
      <div *ngIf="currentMenu=='Text'">
        <div class="dropdown">
          <a href="javascript:;" class="js-link btn">Select one option <i class="fa fa-chevron-down"
              (click)="openFontDropdown()"></i></a>
          <ul class="js-dropdown-list" style="display: none;" (click)="chooseFont()">
            <li>'kalam'</li>
            <li>'Times New Roman', Times, serif</li>
            <li>Arial, Helvetica, sans-serif</li>
            <li>'Lucida Console', 'Courier New', monospace</li>
          </ul>
        </div>
        <p [ngStyle]="stylesForm">Sample Text</p>
        <div class="styleGroup">
          <ul class="textstylegroup">
            <li>
              <div class="custom-select-content-wrapper">
                <div class="custom-select-form-wrapper">
                  <form action="#">
                    <fieldset>
                      <select name="sources" id="sources" class="custom-select sources" data-placeholder="6"
                        [(ngModel)]="stylesForm.fontSize" (change)="setStyle('size')">
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                      </select>
                    </fieldset>
                  </form>
                </div>
              </div>
            </li>
            <li class="ml-auto mr-1"><button type="button" class="btn" (click)="setStyle('bold')"><i
                  class="fas fa-bold"></i></button></li>
            <li class=" mr-1"><button type="button" class="btn" (click)="setStyle('italic')"><i
                  class="fas fa-italic"></i></button></li>
            <li class="mr-3"><button type="button" class="btn" (click)="setStyle('underline')"><i
                  class="fas fa-underline"></i></button></li>
          </ul>
        </div>
        <div class="alignGroup">
          <li class="ml-3"><button type="button" class="btn" (click)="setStyle('text-align', 'left')"><i
                class="fas fa-align-left"></i></button></li>
          <li class=""><button type="button" class="btn" (click)="setStyle('text-align', 'center')"><i
                class="fas fa-align-center"></i></button></li>
          <li class="mr-3"><button type="button" class="btn" (click)="setStyle('text-align', 'right')"><i
                class="fas fa-align-right"></i></button></li>
        </div>
        <div class="col-12 py-4">
          <img src="./assets/images/bucket.png" alt="" style="position: absolute;
          top: 33px;
          left: 31px;">
          <div id="color-picker-one" class="colorPicker text-center" (click)="chooseColor()">Choose color</div>
          <span (click)="closeColorPicker()">
            <i class="fa fa-times color-shutter d-none"></i>
          </span>
        </div>
        <chrome-picker [(color)]="textColor" class="chrome-picker-one d-none" style="margin: -7rem auto;"
          (click)="setStyle('color', textColor)"></chrome-picker>

        <div class="empty-text-area text-center">
          <button type="button" class="btn btn-success m-auto" (click)="showTextArea()">Add text box to selected
            page</button>
        </div>
      </div>
      <div *ngIf="currentMenu=='Layout'">
        <div class="d-flex flex-wrap" style="overflow-y: scroll;" *ngIf="!currentPage">
          Please select a page first
        </div>
        <div class="d-flex flex-wrap" style="overflow-y: scroll;" *ngIf="currentPage">
          <tabset #tabset class="parentTabs">
            <tab heading="Pages" class="">
              <tabset #tabset class="subTab">
                <tab heading="1">
                  <ul class="layoutMenu">
                    <li>
                      <img src="./assets/layouts/1-type-1.jfif" alt="" class="sidebar-img p-2" width="30%" height="30%"
                        style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'single_img_2 type_1_Col', 12, 1, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li>
                      <img src="./assets/layouts/1-type-2.jfif" alt="" class="sidebar-img p-2" width="30%" height="30%"
                        style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'single_img_1 type_1_Col', 11, 1, 1, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li>
                      <img src="./assets/layouts/1-type-3.jfif" alt="" class="sidebar-img p-2" width="30%" height="30%"
                        style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'single_img_3 type_1_Col', 13, 1, 1, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li><img src="./assets/layouts/1-type-4.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'single_img_4 type_1_Col', 14, 1, 1, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                  </ul>

                </tab>

                <tab heading="2">
                  <ul class="layoutMenu">
                    <li> <img src="./assets/layouts/2-type-1.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_2 type_2_Col', 22, 2, 2, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/2-type-3.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_2_Col', 21, 2, 1, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li><img src="./assets/layouts/2-type-2.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_3 type_2_Col', 23, 2, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li>

                      <img src="./assets/layouts/2-type-4.jfif" alt="" class="sidebar-img p-2" width="30%" height="30%"
                        style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_4 type_2_Col', 24, 2, 1, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                  </ul>
                </tab>

                <tab heading="3">
                  <ul class="layoutMenu">
                    <li> <img src="./assets/layouts/3-type-1.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_3_Col_v_1', 9, 3, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/3-type-2.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_3_Col_v_2', 10, 3, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/3-type-3.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_3_Col_v_3', 11, 3, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/3-type-4.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_3_Col_v_4', 12, 3, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                  </ul>
                </tab>

                <tab heading="4">
                  <ul class="layoutMenu">
                    <li> <img src="./assets/layouts/4-type-1.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_4_Col', 41, 4, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/4-type-2.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_4_Col_v_2', 42, 4, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/4-type-3.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_4_Col_v_3', 43, 4, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/4-type-4.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_4_Col_v_4', 44, 4, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                  </ul>
                </tab>
                <tab heading="5">
                  <ul class="layoutMenu">
                    <li> <img src="./assets/layouts/5-type-1.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_5_Col_v_1', 17, 5, 1, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/5-type-2.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_5_Col_v_2', 18, 5, 1, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/5-type-3.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_5_Col_v_3', 19, 5, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/5-type-4.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_5_Col_v_4', 20, 5, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                  </ul>
                </tab>
                <tab heading="6">
                  <ul class="layoutMenu">
                    <li><img src="./assets/layouts/6-type-1.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_6_Col_v_1', 21, 6, 1, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/6-type-2.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'double_img_1 type_6_Col_v_1', 22, 6, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/6-type-3.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'type_6_Col_v_3', 23, 6, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                    <li> <img src="./assets/layouts/6-type-4.jfif" alt="" class="sidebar-img p-2" width="30%"
                        height="30%" style="cursor: pointer;"
                        (click)="collectLayoutId($event, 'type_6_Col_v_4', 24, 6, 0, 'layout', 'linear-gradient(to right bottom, rgb(255, 255, 255), rgb(204, 204, 204))')">
                    </li>
                  </ul>
                </tab>
              </tabset>
            </tab>

            <tab heading="Spread">Tab 2 content</tab>


          </tabset>
        </div>
      </div>
      <div *ngIf="currentMenu=='Background'">
        <div class="d-flex flex-wrap" style="overflow-y: scroll;">
          <ng-container *ngFor="let background of backgrounds; let i=index;">
            <img [src]="background" alt="" class="sidebar-img p-2" width="50%" height="50%" style="cursor: pointer;"
              (click)="setBgOnLayout($event, background)">
          </ng-container>
        </div>
      </div>
      <div *ngIf="currentMenu=='Border'">
        <div class="col-12 py-4">
          <label for="border-width">Border width:</label> &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="number" id="quantity" name="quantity" value="0" min="0" max="20" [(ngModel)]="imageBorderWidth"
            (change)="setImgBorder(imageBorderWidth, 'width')">&nbsp;&nbsp;px
          <img src="./assets/images/bucket.png" alt="" style="position: absolute; top: 60px; left: 31px;">
          <div id="color-picker-two" class="colorPicker text-center" (click)="chooseBorderColor()">Choose color</div>
          <span (click)="closeColorPicker()">
            <i class="fa fa-times color-shutter d-none" style="top: 15px; right: 28px;"></i>
          </span>
        </div>
        <chrome-picker [(color)]="borderColor" class="chrome-picker-two d-none"
          style="margin-top: -5rem; margin-left: 2rem;" (click)="setImgBorder(borderColor, 'color')"></chrome-picker>
        <div class="d-flex flex-wrap" style="overflow-y: scroll;">
          <ng-container *ngFor="let border of borders; let i=index;">
            <div [style.border]="border" style="cursor: pointer; width: 50px; height: 50px; margin: 5px"
              (click)="setImgBorder(border, 'border_predefined_attr')"></div>
          </ng-container>
        </div>
      </div>
      <div *ngIf="currentMenu=='Style'">
        <div class="d-flex flex-wrap" style="overflow-y: scroll;">
          <ng-container *ngFor="let style of styles; let i=index;">
            <img [src]="style" alt="" class="sidebar-img p-2" width="50%" height="50%" style="cursor: pointer;"
              (click)="setBgOnLayout($event, style)">
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav" id="sidebar">
      <li>
        <a href="javascript:;" (click)="currentMenu = 'Photo'">
          <img src="./assets/images/photo-gallery.png" alt="" width="25" height="25">
          <span class="mt-2" style="color: white;">Photo</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" (click)="currentMenu = 'Text'">
          <img src="./assets/images/font.png" alt="" width="25" height="25">
          <span class="mt-2" style="color: white;">Text</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" (click)="currentMenu = 'Layout'">
          <img src="./assets/images/layout.png" alt="" width="25" height="25">
          <span class="mt-2" style="color: white;">Layout</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" (click)="currentMenu = 'Background'">
          <img src="./assets/images/background.png" alt="" width="25" height="25">
          <span class="mt-2" style="color: white;">Background</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" (click)="currentMenu = 'Border'">
          <img src="./assets/images/frame-border.png" alt="" width="25" height="25">
          <span class="mt-2" style="color: white;">Border</span>
        </a>
      </li>
      <li>
        <a href="javascript:;" (click)="currentMenu = 'Style'">
          <img src="./assets/images/paint-board.png" alt="" width="25" height="25">
          <span class="mt-2" style="color: white;">Style</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="" style="margin-left: 5.6rem;">
  <div class="gallary" [style.zoom]="zoom">
    <div class="gallary-pics pt-4 pb-4 ml-3" *ngFor="let image of images" style="position: relative;">
      <img [src]="image.src" alt="" class="img-fluid mx-auto" [class.img-selected]="" width="200" height="150">
      <i class="fa fa-check image-selected" [class.d-none]=""></i>
    </div>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <div class="scene2 scene--card">
            <div class="card">
              <div class="card__face card__face--front"
                [ngStyle]="{backgroundImage:'url(./assets/images/backCover.png)'}"></div>
              <div class="card__face card__face--back"
                [ngStyle]="{backgroundImage:'url(./assets/images/frontCover.png)'}">
                <div [ngClass]="{'scene':theme==0 || theme==1 || theme==2 || theme==3}">
                  <article class="book" *ngIf="theme==0 || theme==1 || theme==2 || theme==3">
                    <ng-container *ngFor="let page of pageBundles; let i=index;">
                      <section class="page active" [ngClass]="{'is-theme-2':theme==2}" [class.active]="i+1==1">
                        <div class="front" *ngIf="theme==0 || theme==1 || theme==2 || theme==3" style=""
                          [style.border]="currentPage==(page.pageId + 'f') ? '3px solid #3ed0d0' : 'none'"
                          [ngStyle]="{'background' : page.frontSide?.background?.image ? page.frontSide?.background?.image : 'linear-gradient(to bottom right, #fff, #ccc)'}"
                          (click)="onPageSelection($event, page.pageId + 'f', 'background')">
                          <img [src]="page.frontSide?.background?.image" width="auto" height="100" alt=""
                            style="zoom: 4;" *ngIf="page.frontSide?.bgTypeApplied=='image'">
                          <div [ngClass]="page.frontSide?.layoutClass"
                            *ngIf="(page.frontSide?.layoutId==currFrontLayoutClass) && page.frontSide?.bgTypeApplied!='image'">
                            <div class="child" *ngIf="page.frontSide?.picIds">
                              <ng-container *ngFor="let pic of page.frontSide?.noOfPics; let j=index;">
                                <div class="imageWrap"
                                  [style.border]="page.frontSide?.picIds[j]?.selected ? '5px solid #3ed0d0' : 'none'"
                                  (click)="onLayoutImageSelection($event, i, j, 'f')">
                                  <img
                                    [src]="page.frontSide?.picIds[j]?.image ? page.frontSide?.picIds[j]?.image : './assets/images/placeholder.jpg'"
                                    alt="" style="width: 100%; height: 100%;"
                                    [style.border]="page.frontSide?.picIds[j]?.imgBorder">
                                </div>{{page.textNode?.display}}
                              </ng-container>
                              <ng-container *ngFor="let textNode of page.frontSide?.textNodes; let j=index;">
                                <div class="childText" style="font-size: 20px; line-height: 24px; height: auto;"
                                  [style.background]="textNode.text=='Add text (optional)' ? 'black' : 'none'"
                                  [style.visibility]="textNode?.display=='block' ? 'unset' : 'hidden'"
                                  [ngStyle]="page.frontSide?.stylesSet"
                                  [style.border]="textNode.selected ? '3px solid #3ed0d0' : 'none'"
                                  (click)="onTextSelect($event, i, 'f', j)">
                                  {{textNode.text ? textNode.text : 'Add text (optional)'}}</div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                        <div class="back" *ngIf="theme==0 || theme==1 || theme==2 || theme==3" style=""
                          [style.border]="currentPage==(page.pageId + 'b') ? '3px solid #3ed0d0' : 'none'"
                          [ngStyle]="{'background' : page.backSide?.background?.image ? page.backSide?.background?.image : 'linear-gradient(to bottom right, #fff, #ccc)'}"
                          (click)="onPageSelection($event, page.pageId + 'b', 'background')">
                          <img [src]="page.backSide?.background?.image" width="auto" height="100" alt=""
                            style="zoom: 4;" *ngIf="page.backSide?.bgTypeApplied=='image'">
                          <div [ngClass]="page.backSide?.layoutClass"
                            *ngIf="(page.backSide?.layoutId==currBackLayoutClass) && page.backSide?.bgTypeApplied!='image'">
                            <div class="child" *ngIf="page.backSide?.picIds">
                              <ng-container *ngFor="let pic of page.backSide?.noOfPics; let j=index;">
                                <div class="imageWrap"
                                  [style.border]="page.backSide?.picIds[j]?.selected ? '5px solid #3ed0d0' : 'none'"
                                  (click)="onLayoutImageSelection($event, i, j, 'b')">
                                  <img
                                    [src]="page.backSide?.picIds[j]?.image ? page.backSide?.picIds[j]?.image : './assets/images/placeholder.jpg'"
                                    alt="" style="width: 100%; height: 100%;"
                                    [style.border]="page.backSide?.picIds[j]?.imgBorder">
                                </div>{{page.textNode?.display}}
                              </ng-container>
                              <ng-container *ngFor="let textNode of page.backSide?.textNodes; let j=index;">
                                <div class="childText" style="font-size: 20px; line-height: 24px; height: auto;"
                                  [style.background]="textNode.text=='Add text (optional)' ? 'black' : 'none'"
                                  [style.visibility]="textNode?.display=='block' ? 'unset' : 'hidden'"
                                  [ngStyle]="page.backSide?.stylesSet"
                                  [style.border]="textNode.selected ? '3px solid #3ed0d0' : 'none'"
                                  (click)="onTextSelect($event, i, 'b', j)">
                                  {{textNode.text ? textNode.text : 'Add text (optional)'}}</div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </section>
                    </ng-container>
                  </article>
                  <!-- <article class="book" *ngIf="theme==2 || theme==3">
                    <div class="">
                      <div class="main clearfix">
                        <div class="bb-custom-wrapper">
                          <div id="bb-bookblock" class="bb-bookblock">
                            <div class="bb-item" *ngFor="let image of selectedImages; let i=index">
                              <a ><img src="{{image.src}}" alt="image{{i}}" /></a>
                            </div>
                          </div>
                          <nav>
                            <a id="bb-nav-first" class="bb-custom-icon bb-custom-icon-first">First page</a>
                            <a id="bb-nav-prev" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
                            <a id="bb-nav-next" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
                            <a id="bb-nav-last" class="bb-custom-icon bb-custom-icon-last">Last page</a>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </article> -->
                  
                
                  <div class="custom-text-editor" *ngIf="isToolbarOpen">
                    <input type="text" placeholder="Add text here" style="height: 100%;" name="text"
                      style="font-size: 20px; padding-left: 0.5rem;" (keyup)="onTextChange()" [(ngModel)]="text"
                      (click)="$event.stopPropagation()" *ngIf="selectionType=='text'" />
                    <div class="text-menu">
                      <a href="javascript:;" style="display: flex; align-items: center; flex-direction: column;"
                        (click)="hideItem($event)">
                        <i class="fa fa-trash" style="font-size: 27px; color: white;"></i>
                        <span class="mt-2" style="color: white;"></span>
                      </a>
                    </div>
                    <div class="text-menu pt-2" *ngIf="selectionType=='image'">
                      <a href="javascript:;" style="display: flex; align-items: center; flex-direction: column;"
                        (click)="setImgAsBackground($event)">
                        <img src="./assets/images/expand.png" alt="">
                        <span class="mt-2" style="color: white;"></span>
                      </a>
                    </div>
                    <div class="text-menu pt-2">
                      <a href="javascript:;" style="display: flex; align-items: center; flex-direction: column;"
                        (click)="openImageCropperModal($event)">
                        <i class="fa fa-edit"></i>
                        <span class="mt-2" style="color: white;"></span>
                      </a>
                    </div>
                    <div class="text-menu text-toolbar" (click)="$event.stopPropagation(); isToolbarOpen=false">
                      <a href="javascript:;" style="display: flex; align-items: center; flex-direction: column;">
                        <i class="fa fa-times" style="font-size: 20px; color: red;"></i>
                        <span class="mt-2" style="color: white;"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footerScroller">
    <div class="controllerBtn">
      <button type="button" class="btn btn-primary prevBtn mr-2" (click)="prevPage()"><i
          class="fas fa-chevron-left"></i></button>
      <button type="button" class="btn btn-primary nextBtn" (click)="nextPage()"><i
          class="fas fa-chevron-right"></i></button>
      <button type="button" class="btn btn-primary prevBtn ml-2" (click)="zoomOut()"><i
          class="fas fa-plus"></i></button>
      <button type="button" class="btn btn-primary nextBtn ml-2" (click)="zoomIn()"><i
          class="fas fa-minus"></i></button>
    </div>
    <div class="horaizonalScroller">
      <section>
        <div class="outer-wrapper">
          <div class="inner-wrapper">
            <div class="pseudo-item frontPage"
              [style.border]="(activePageId==-1 || activePageId==pageBundles.length+1) ? '5px solid #3ed0d0' : 'none'"
              [ngStyle]="{backgroundImage:'url(./assets/images/backCover.png)'}" (click)="toggleFlipBook('startSide');">
              <div class="ChildPage ">
                <div class="leftPage">
                  <div class="pageNo">Front</div>
                </div>
              </div>
            </div>
            <div class="pseudo-item" (click)="goToPage(-1)">
              <div class="ChildPage" [style.border]="activePageId==0 ? '5px solid #3ed0d0' : 'none'">
                <div class="leftPage" style="background: url('./assets/images/start_left_inner_cover.png')"></div>
                <div class="rightPage"
                  [style.background]="pageBundles[0]?.frontSide?.background?.image ? pageBundles[0]?.frontSide?.background?.image : 'linear-gradient(to bottom right, #fff, #ccc)'">
                  <div class="pageNo">1</div>
                </div>
              </div>
            </div>
            <ng-container *ngFor="let page of pageBundles; let i=index;">
              <div class="pseudo-item" (click)="goToPage(i)">
                <div class="ChildPage" [ngClass]="{'is-theme-2':theme==2}" [style.border]="i+1==activePageId ? '5px solid #3ed0d0' : 'none'">
                  <div class="leftPage">
                    <img [src]="page.backSide?.background?.image" width="130px" alt="" style="zoom: 1"
                      *ngIf="page.backSide?.bgTypeApplied=='image'">
                    <div class="pageNo">{{page.backSide?.pageNo}}</div>
                    <div [ngClass]="page.backSide?.layoutClass"
                      *ngIf="(page.backSide?.layoutId==currBackLayoutClass) && page.backSide?.bgTypeApplied!='image'">
                      <div class="child" *ngIf="page.backSide?.picIds">
                        <ng-container *ngFor="let pic of page.backSide?.noOfPics; let j=index;">
                          <div class="imageWrap">
                            <img
                              [src]="page.backSide?.picIds[j]?.image ? page.backSide?.picIds[j]?.image : './assets/images/placeholder.jpg'"
                              alt="" style="width: 100%; height: 100%;"
                              [style.border]="page.backSide?.picIds[j]?.imgBorder">
                          </div>
                        </ng-container>
                        <ng-container *ngFor="let textNode of page.backSide?.textNodes; let j=index;">
                          <div class="childText"
                            [style.background]="textNode?.text!='Add text (optional)' ? 'none' : 'black'"
                            [style.visibility]="textNode?.display=='block' ? 'unset' : 'hidden'"
                            [ngStyle]="page.backSide?.stylesSet">
                            {{textNode?.text}}</div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="rightPage">
                    <img [src]="pageBundles[i+1]?.frontSide?.background?.image" width="130px" alt="" style="zoom: 1"
                      *ngIf="pageBundles[i+1]?.frontSide?.bgTypeApplied=='image'">
                    <div class="pageNo" *ngIf="i!==pageBundles.length-1">{{page.frontSide?.pageNo}}</div>
                    <div [ngClass]="pageBundles[i+1]?.frontSide?.layoutClass"
                      *ngIf="(pageBundles[i+1]?.frontSide?.layoutId==currFrontLayoutClass) && pageBundles[i+1]?.frontSide?.bgTypeApplied=='image'">
                      <div class="child" *ngIf="pageBundles[i+1]?.frontSide?.picIds">
                        <ng-container *ngFor="let pic of pageBundles[i+1]?.frontSide?.noOfPics; let j=index;">
                          <div class="imageWrap" (click)="onLayoutImageSelection($event, i, j, 'f')">
                            <img
                              [src]="pageBundles[i+1]?.frontSide?.picIds[j]?.image ? pageBundles[i+1]?.frontSide?.picIds[j]?.image : './assets/images/placeholder.jpg'"
                              alt="" style="width: 100%; height: 100%;"
                              [style.border]="pageBundles[i+1].frontSide?.picIds[j]?.imgBorder">
                          </div>{{page.textNode?.display}}
                        </ng-container>
                        <ng-container *ngFor="let textNode of pageBundles[i+1]?.frontSide?.textNodes; let j=index;">
                          <div class="childText"
                            [style.background]="textNode.text=='Add text (optional)' ? 'black' : 'none'"
                            [style.visibility]="textNode?.display=='block' ? 'unset' : 'hidden'"
                            [ngStyle]="pageBundles[i+1]?.frontSide?.stylesSet"
                            (click)="onTextSelect($event, i, 'f', j)">
                            {{textNode.text ? textNode.text : 'Add text (optional)'}}</div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="pseudo-item backPage"
              [style.border]="(activePageId==-1 || activePageId==pageBundles.length+1) ? '5px solid #3ed0d0' : 'none'"
              [ngStyle]="{backgroundImage:'url(./assets/images/backCover.png)'}" (click)="toggleFlipBook('lastSide')">
              <div class="ChildPage ">
                <div class="leftPage">
                  <div class="pageNo">Back</div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="pseduo-track"></div>
      </section>
    </div>
  </div>
</div>
