/* === CSS by Akash ===*/
.scene .book .front,
.scene .book .back,
.ChildPage .leftPage,
.ChildPage .rightPage{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene .book .is-theme-2 .front,
.ChildPage.is-theme-2 .rightPage{
  justify-content: flex-start;
}
.scene .book .is-theme-2 .back,
.ChildPage.is-theme-2 .leftPage{
  justify-content: flex-end;
}

/* === === */

.top-header {
  margin-left: 3rem !important;
  margin-top: 0.7rem;
  font-weight: 800;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: .75px;
  -webkit-font-smoothing: antialiased;
}

.bottom-header {
  margin-left: 3rem !important;
  line-height: 13px;
  letter-spacing: .75px;
  -webkit-font-smoothing: antialiased;
}

.navbar-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.navbar-btn-section {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

#view-title {
  margin: 0;
}

#header-done-button {
  border-radius: 0;
  color: #fff;
  fill: #fff;
  background-color: #3caac2;
  border-color: #3caac2;
}

#header-link-button {
  border-radius: 0;
  color: #00000094;
  fill: #fff;
  background-color: #ffff;
  border-color: #ffff;
  box-shadow: 1px 1px 4px -1px grey;
  padding: 3px 8px;
  font-size: 13px;
}

.gallary {
  height: 520px;
  background-color: #e8ebee;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.gallary-pics img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: white;
  cursor: pointer;
}

.img-selected {
  border: 2px solid deepskyblue;
}

.remove-all img:hover {
  background-color: #eef5ee;
}

.slide-element {
  overflow-x: scroll;
  display: -webkit-box;
}

.missing-photos {
  width: 85px !important;
  height: 85px !important;
  border: 1px dashed #80808052;
  border-style: dashed;
  border-width: 3px;
}

.slide-element .missing-photos:not(:last-child) {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.image-selected {
  position: absolute;
  background: #3caac2;
  color: white;
  border-radius: 50%;
  padding: 7px;
  bottom: 26px;
  left: 6px;
}

/* //////////////// side-bar */

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%
}

#wrapper2 #sidebar-content-wrapper {
  margin-left: 21px;
  left: 70px;
  width: 0px;
  background: #f8f9fa;
  border-top: 1px solid lightgrey;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

#wrapper3 #sidebar-close {
  position: fixed;
  left: 0rem;
  background: black;
  color: white;
  padding: 0px 13px 3px 13px;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.8s;
  z-index: 1;
}

#wrapper2 #sidebar-content-wrapper .sidebar-nav {
  width: 300px;
  height: 60px;
  width: 100%;
  background: white;
}

#wrapper2 #sidebar-content-wrapper .header {
  height: 60px;
  width: 100%;
  background: white;
  box-shadow: 0px 3px 3px -4px black;
}

#wrapper2 #sidebar-content-wrapper .sidebar-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  color: #999;
  float: left;
  text-decoration: none;
  width: 300px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}

#sidebar-wrapper {
  margin-left: -70px;
  left: 70px;
  width: 90px;
  background: #222;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 90px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav img {
  filter: invert(1);
}

.sidebar-nav span {
  color: white;
}

#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}

#wrapper.active {
  padding-left: 150px;
}

#wrapper.active #sidebar-wrapper {
  left: 90px;
}

#wrapper2.active #sidebar-content-wrapper {
  width: 300px;
  overflow-y: scroll;
}

#wrapper3 #sidebar-close.active {
  transition: 0.5s;
  left: 24rem;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  color: #999;
  float: left;
  text-decoration: none;
  width: 90px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}

.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li a {
  color: #999999;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon {
  float: right;
  padding-right: 65px;
  padding-top: 20px;
}

.sub_icon {
  float: right;
  padding-right: 65px;
  padding-top: 10px;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper {
    left: 70px;
  }
  #wrapper.active {
    padding-left: 150px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
  }
}

/* final layout */

.layout {
  width: 20rem;
  height: 20rem;
  background: white;
  margin: 0 auto;
  margin-top: 2rem;
}

/* flip book page css start */

.scene {
  width: 413px;
  height: 399px;
  /* margin: 0px auto; */
  perspective: 2000px;
  margin-left: auto;
  position: relative;
  height: 399px;
}

.custom-text-editor {
  /* width: 31rem; */
  width: auto;
  height: 4rem;
  border: 3px solid #121f27;
  display: flex;
  position: absolute;
  bottom: 8rem;
  right: 85%;
  background: #080202b8;
}

.custom-text-editor i {
  line-height: 47px;
}

.custom-text-editor .text-menu {
  height: 100%;
  padding: 3px;
  background: #5d5656;
  width: 4rem;
  border: 1px solid #6d6363;
  /* margin: 0 6px; */
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.page {
  cursor: pointer;
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s -webkit-transform;
  transition: 1.5s transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#ccc));
  background: -webkit-linear-gradient(top left, #fff, #ccc);
  background: linear-gradient(to bottom right, #fff, #ccc);
  background-size: cover !important;
}

.front {
  border-top-right-radius: 5px;
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.page.active {
  z-index: 1;
}

.page.flipped {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.page.flipped:last-of-type {
  z-index: 1;
}

/* flip book page css end */

.horizontalFooter {
  height: 95px;
  position: fixed;
  bottom: 0;
}

/* Single_img_1 TYPE 1 */

.single_img_1 .imageWrap {
  width: 201px;
  height: 151px;
  background-color: #333;
  line-height: 0;
}

.childText {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: #333;
}

.single_img_1 {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.break-column {
  flex-basis: 100%;
  width: 0;
}

/* Single_img_2 TYPE_1 */

.single_img_2 {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.single_img_2 .imageWrap {
  width: 306px;
  height: 306px;
  background-color: #333;
}

.single_img_2 .childText {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: #333;
}

/* double_img_1 type_2_Col */

.double_img_1 {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.double_img_1 .imageWrap {
  width: 254px;
  height: 143px;
  background-color: #333;
  line-height: 0;
}

.double_img_1 .imageWrap:nth-child(1) {
  margin-bottom: 10px;
}

/* double_img_2 type_2_Col */

.double_img_2 .imageWrap {
  width: 176px;
  margin: 0px 9px;
  height: 269px;
  background-color: #333;
  border: 1px solid #000;
}

.double_img_2 .childText {
  width: 43%;
  line-height: 28px;
  height: 30px;
  font-size: 12px;
  margin: 9px;
  background-color: #333;
}

.double_img_2 .child, .double_img_2 {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

/* Four COLUMN */

/* .four_img_1 {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
} */

.type_4_Col .child {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
}

.type_4_Col .child .imageWrap {
  background: tomato;
  width: 46%;
  margin: 7px;
  height: 143px;
}

/* type_4_Col_v_2  */

.type_4_Col_v_2 .child {
  display: flex;
  flex-flow: column wrap;
  width: 96%;
  justify-content: space-evenly;
  height: 359px;
}

.type_4_Col_v_2 .child .imageWrap {
  display: flex;
  font-size: 30px;
  min-height: 51px;
  height: 95px;
  flex: 0 0 auto;
  width: 35%;
}

.type_4_Col_v_2 .child .imageWrap:nth-child(1) {
  height: 80%;
  margin-left: 25px;
  width: 44%;
  margin-top: 10px;
}

.type_4_Col_v_2 .child .imageWrap:nth-child(2) {}

.type_4_Col_v_2 .child .imageWrap:nth-child(3) {
  min-height: 50px;
}

.type_4_Col_v_2 .child .imageWrap:nth-child(4) {
  min-height: 50px;
}

/* text menu */

.dropdown {
  margin: 19px auto;
  width: 16em;
}

.js-link {
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%), 0 1px 2px rgb(0 0 0 / 12%);
}

.js-link {
  color: #111125;
  fill: #111125;
  border-color: transparent;
  background-color: #fefeff;
  border-color: #f5f5f7;
  display: initial;
  text-align: left;
}

.js-dropdown-list {
  display: none;
  list-style: none;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%), 0 1px 2px rgb(0 0 0 / 12%);
  position: absolute;
  z-index: 9;
  width: 100%;
}

.js-dropdown-list li {
  padding: 0.5em;
  cursor: pointer;
}

.page-select-border {
  border: 3px solid #3ed0d0;
}

/***CUSTOM SELECT STYLE (END)***/

.textstylegroup, .alignGroup {
  list-style: none;
  padding: 0 37px;
  display: flex;
}

.textstylegroup li {
  list-style: none;
  display: inline-block;
}

.textstylegroup .btn, .alignGroup .btn {
  color: #111125;
  fill: #111125;
  border-color: transparent;
  background-color: #fefeff;
  width: 40px;
  border-color: #f5f5f7;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%), 0 1px 2px rgb(0 0 0 / 12%);
  font-size: 18px;
}

.alignGroup .btn {
  width: 100%;
}

.alignGroup li {
  flex-grow: 1;
}

.alignGroup li:nth-child(1) .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.alignGroup li:nth-child(2) .btn {
  border-radius: 0 !important;
}

.alignGroup li:nth-child(3) .btn {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.textstylegroup2 .custom-select-content-wrapper {
  width: 151px;
}

.textstylegroup2 .custom-select-trigger-text {
  width: 100%;
}

#color-picker-one {
  background: white;
  z-index: 1;
  border: 1px solid white;
  color: #6d4646e3;
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%), 0 1px 2px rgb(0 0 0 / 12%);
}

#color-picker-two {
  background: white;
  z-index: 1;
  border: 1px solid white;
  color: #6d4646e3;
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%), 0 1px 2px rgb(0 0 0 / 12%);
}

.resize-drag {
  width: 120px;
  border-radius: 8px;
  padding: 20px;
  margin: 1rem;
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  touch-action: none;
  /* This makes things *much* easier */
  box-sizing: border-box;
}

.single_img_1_full {
  margin: 5px;
}

.single_img_1_full .child {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center; */
}


.single_img_1_full .imageWrap {
  width: 100%;
  height: 54vh;
  background-color: #333;
}

.horaizonalScroller {
  display: flex;
  max-width: 100vw;
  padding: 0px 10px;
  height: 104px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 6px 0 rgb(45 50 58 / 10%);
}

.horaizonalScroller section {
  width: 100%;
}

.outer-wrapper {
  max-width: 100vw;
  overflow-x: scroll;
  position: relative;
  scrollbar-color: #333 lightgray;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  border-radius: 5px;
  padding-top: 10px;
}

.pseduo-track {
  background-color: transparent;
  height: 0px;
  width: 100%;
  position: relative;
  top: -3px;
  z-index: -10;
}

@media (any-hover: none) {
  .pseduo-track {
    display: none;
  }
}

.outer-wrapper::-webkit-scrollbar {
  height: 10px;
}

.outer-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.outer-wrapper::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
}

.outer-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgb(160, 160, 160);
}

.outer-wrapper::-webkit-scrollbar:vertical {
  display: none;
}

.inner-wrapper {
  display: flex;
  padding-bottom: 10px;
}

.pseudo-item {
  height: 73px;
  width: 130px;
  margin-right: 7px;
  flex-shrink: 0;
  background-color: gray;
  cursor: pointer;
}

.footerScroller {
  position: relative;
}

.controllerBtn {
  position: absolute;
  z-index: 999;
  left: 44.5%;
  top: -58px;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(12px);
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 6px 0 rgb(45 50 58 / 10%);
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.controllerBtn .btn-primary {
  color: #fff;
  background-color: #2c2c2c;
  border-color: #000000;
}

.footerScroller {
  position: relative;
  background: #fff;
  padding-top: 0px;
}

.rightPage {
  background-image: linear-gradient(90deg, #6a6a6a 0%, rgba(247, 247, 247, 0) 18%);
  position: relative;
}

.leftPage {
  background-image: linear-gradient(-90deg, #595959 0%, rgba(247, 247, 247, 0) 18%);
  position: relative;
}

.ChildPage {
  display: flex;
  height: 100%;
}

.pseudo-item .ChildPage>div {
  flex-basis: 50%;
  max-width: 50%;
  /* width: 63px;
  height: 72px; */
  text-align: center;
  /* border: 1px solid black; */
}

.pseudo-item .ChildPage>div img {
  width: 130px;
}

.pageNo {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  position: absolute;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #6d6d6d;
  border-radius: 10px;
  left: 38%;
  top: -8px;
}

.activeItem {
  border: 4px solid #3caac2;
}

.activeItem .pageNo {
  background-color: #3caac2;
}

/*
body {
  background-color: #4F4E68;
}

.book2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 18.5rem;
  height: 12.5rem;
  perspective: 70rem;
}

.cover {
  background-color: #36354e;
  transform: rotateY(0deg);
  width: 9.25rem;
  height: 12.5rem;
}



.cover {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.cover.turn {
  animation: bookCover 3s forwards;
}



@keyframes bookOpen {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(180deg);
    z-index: 999;
  }
}

@keyframes bookCover {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(180deg);
    z-index: 1;
  }
}

@keyframes bookOpen150deg {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(150deg);
    z-index: 999;
  }
}

@keyframes bookOpen55deg {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(55deg);
    z-index: 999;
  }
}

@keyframes bookOpen30deg {
  50% {
    z-index: 999
  }

  100% {
    transform: rotateY(30deg);
    z-index: 999;
  }
  background: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.3) 5%,rgba(153,153,153,.2) 25%,rgba(153,153,153,0) 100%);
    left: 0;
}
 */

.scene2 {
  width: 840px;
  border: none;
  margin: 21px auto;
  perspective: 600px;
  height: 414px;
}

.scene2 .card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  border-left: none !important;
  border-radius: 9px;
  background: none;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front, .card__face--back {
  /* background: url('../../assets/images/backCover.png'); */
  background-repeat: no-repeat;
  background-size: 100%;
  border: none !important;
  background: none;
  background-repeat: no-repeat;
  background-size: 100%;
}

.card__face--back {
  transform: rotateY(180deg);
  padding: 6px;
}

#content-wrapper {
  margin: 0 auto;
}

.column_1 {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.column_1 .image_1 {
  background-color: red;
  position: relative;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: red;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.pseudo-item .single_img_2 .child {
  width: 65%;
}

.pseudo-item .single_img_2 .imageWrap {
  width: 100%;
  height: 27px;
  background-color: #333;
}

.pseudo-item .single_img_2 .childText {
  width: 100%;
  height: auto;
  margin-top: 3px;
  font-size: 5px;
  background-color: #333;
}

.pseudo-item .double_img_1 .imageWrap {
  margin: 2px 0px;
  width: 100%;
  height: 20px;
}

.pseudo-item .double_img_1 .imageWrap {
  background-color: rgb(180 180 180);
}

.pseudo-item .double_img_1 .childText {
  width: 100%;
  margin-top: 3px;
  height: 3px;
  background-color: #ccc;
  font-size: 2px;
}

.pseudo-item .child {
  width: 55%;
}

.pseudo-item .child, .backPage .child {
  width: 55%;
}

.frontPage, .backPage {
  width: 65px;
}

.frontPage .ChildPage>.leftPage, .backPage .ChildPage>.leftPage {
  background-image: none;
}

.pseudo-item .double_img_2 .childText {
  width: 45%;
  line-height: 7px;
  height: 7px;
  font-size: 1px;
  margin: 0;
  background-color: #333;
}

.pseudo-item .double_img_2 .imageWrap {
  width: 46%;
  margin: 0px 1px;
  height: 41px;
  background-color: #333;
  border: 1px solid #000;
}

.pseudo-item .double_img_2 .child {
  width: 84%;
  justify-content: space-around;
}

/* Footer 1 image  */

.pseudo-item .single_img_1 .imageWrap {
  width: 100%;
  height: auto;
}

.pseudo-item .single_img_1 .childText {
  width: 100%;
  height: 8px;
  line-height: 8px;
  font-size: 3px;
  margin-top: 5px;
}

/* type_4_Col */

.pseudo-item .type_4_Col .child .imageWrap {
  width: 43%;
  margin: 1px;
  height: 16px;
}

/* type_4_Col_v_2  */

.pseudo-item .type_4_Col_v_2 .child {
  display: flex;
  flex-flow: column wrap;
  width: 83%;
  justify-content: space-evenly;
  height: 62px;
}

.pseudo-item .type_4_Col_v_2 .child .imageWrap {
  display: flex;
  font-size: 30px;
  min-height: 11px;
  height: 15px;
  flex: 0 0 auto;
  width: 21%;
}

.pseudo-item .type_4_Col_v_2 .child .imageWrap:nth-child(1) {
  min-height: 24%;
  margin-left: 7px;
  width: 25%;
  margin-top: 1px;
  height: 48px;
}

.pseudo-item .type_4_Col_v_2 .child .imageWrap:nth-child(2) {}

.pseudo-item .type_4_Col_v_2 .child .imageWrap:nth-child(3) {
  min-height: 9px;
}

.pseudo-item .type_4_Col_v_2 .child .imageWrap:nth-child(4) {
  min-height: 10px;
}

.color-shutter {
  font-size: 15px;
  position: absolute;
  top: -20px;
  right: 36px;
  z-index: 1;
  background: white;
  padding: 4px;
  border-radius: 25px;
  border: 1px solid yellow;
}

.single_img_3,
.single_img_4 {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.single_img_3 .imageWrap {
  width: 336px;
  height: 300px;
}


.pseudo-item .single_img_3 .imageWrap {
  height: 40px;
  width: 100%;
}

.pseudo-item .single_img_3 .child,
.pseudo-item .single_img_3 .backPage .child {
  width: 72%;
}

.pseudo-item .single_img_3 .childText {
  width: 100%;
  height: 6px;
  font-size: 3px;
  margin-top: 3px;

}




.single_img_4 .imageWrap {
  width: 300px;
  height: 341px;
}


.pseudo-item .single_img_4 .imageWrap {
  height: 50px;
  width: 100%;
}

.pseudo-item .single_img_4 .child,
.pseudo-item .single_img_4 .backPage .child {
  width: 72%;
}

.pseudo-item .single_img_4 .childText {
  width: 100%;
  height: 6px;
  font-size: 3px;
  margin-top: 3px;

}


.type_3_Col_v_1 .imageWrap {
  width: 218px;
  height: 122px;
  margin: 4px;
  margin-bottom: 0 !important;
}


.type_3_Col_v_2 .child,
.type_3_Col_v_3 .child,
.pseudo-item .type_3_Col_v_3 .child {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  width: 98%;
}

/* .type_3_Col_v_3 .child {
  flex-direction: row-reverse;
} */

.type_3_Col_v_2 .imageWrap,
.type_3_Col_v_3 .imageWrap,
.pseudo-item .type_3_Col_v_3 .imageWrap,
.pseudo-item .type_3_Col_v_2 .imageWrap {
  width: 49.4%;
  height: 185px;
}

.pseudo-item .type_3_Col_v_3 .imageWrap,
.pseudo-item .type_3_Col_v_2 .imageWrap {
  height: 28px;
  margin: 1px !important;
  width: 46.3%;
}

.type_3_Col_v_2 .child .imageWrap:not(:first-child) {
  /* flex: 1; */
}

.type_3_Col_v_2 .child .imageWrap:nth-child(1),
.pseudo-item .type_3_Col_v_2 .child .imageWrap:nth-child(1) {
  width: 100%;
  margin-bottom: 4px;
}

.type_3_Col_v_3 .child .imageWrap:nth-child(1),
.pseudo-item .type_3_Col_v_3 .child .imageWrap:nth-child(1) {
  margin-bottom: 4px;
}

.type_3_Col_v_3 .child .imageWrap:nth-child(3),
.pseudo-item .type_3_Col_v_3 .child .imageWrap:nth-child(3) {
  width: 100%;
  /* margin-bottom: 4px; */
}


.type_3_Col_v_4 .child {

  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;

}

.type_3_Col_v_4 .child .imageWrap {
  width: 133px;
  height: auto;
  margin-bottom: 0;
  margin: 0 3px;
}


.pseudo-item .type_3_Col_v_4 .child {
  width: 100%;
}

.pseudo-item .type_3_Col_v_4 .child .imageWrap {
  margin: 0
}




.double_img_3,
.double_img_4,
.double_img_4 .child {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}


.double_img_4 .imageWrap {
  width: 176px;
  margin: 0px 9px;
  height: 209px;
  line-height: 0;
  background-color: #333;
  border: 1px solid #000;
}

.double_img_4 .childText {
  width: 91%;
}


.pseudo-item .double_img_3 .imageWrap {
  height: 26px;
}

.pseudo-item .double_img_4 .child {
  width: 100%;
}

.pseudo-item .double_img_4 .imageWrap {
  width: 43%;
  height: 30px;
  margin: 2px;
}

.pseudo-item .double_img_4 .childText {
  width: 91%;
  font-size: 5px;
  height: auto;
}

.double_img_3 .child {
  width: 95%;
}

.double_img_3 .imageWrap {
  width: 100%;
  height: 193px;
  background-color: #333;
  line-height: 0;
}




.type_4_Col_v_3 .child {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
}

.type_4_Col_v_3 .child .imageWrap {
  width: 46%;
  margin: 7px;
  height: 116px;
}



.pseudo-item .type_4_Col_v_3 .child {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
}

.pseudo-item .type_4_Col_v_3 .child .imageWrap {
  width: 46%;
  margin: 1px;
  height: 26px;
}


.type_4_Col_v_4 .child {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
}

.type_4_Col_v_4 .child .imageWrap {
  width: 35%;
  margin: 3px;
  height: 182px;
}

.pseudo-item .type_4_Col_v_4 .child .imageWrap {
  width: 35%;
  margin: 1px;
  height: 25px;
}

.type_4_Col_v_4 .child .imageWrap:nth-child(1) {
  width: 61%;
}

.pseudo-item .type_4_Col_v_4 .child .imageWrap:nth-child(1) {
  width: 57%;
}

.type_4_Col_v_4 .child .imageWrap:nth-child(4) {
  width: 61%;
}

.pseudo-item .type_4_Col_v_4 .child .imageWrap:nth-child(4) {
  width: 57%;
}





.type_5_Col_v_1 .child {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}

.type_5_Col_v_1 .child .imageWrap:nth-child(1),
.type_5_Col_v_1 .child .imageWrap:nth-child(2) {
  width: 49%;
  height: 220px;
}

.pseudo-item .type_5_Col_v_1 .child .imageWrap:nth-child(1),
.pseudo-item .type_5_Col_v_1 .child .imageWrap:nth-child(2) {
  width: 46%;
  height: 28px;
}

.type_5_Col_v_1 .child .imageWrap {
  width: 32.5%;
  margin: 1px;
  height: 110px;
}

.pseudo-item .type_5_Col_v_1 .child .imageWrap {
  width: 30%;
  margin: 1px;
  height: 20px;
}



.pseudo-item .type_5_Col_v_1 .child {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}





.type_5_Col_v_2 .child {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}

.type_5_Col_v_2 .child .imageWrap {
  width: 32.5%;
  margin: 1px;
  height: 110px;
}

.type_5_Col_v_2 .child .imageWrap:nth-child(4),
.type_5_Col_v_2 .child .imageWrap:nth-child(5) {
  width: 49%;
  height: 220px;
}

.pseudo-item .type_5_Col_v_2 .child .imageWrap:nth-child(4),
.pseudo-item .type_5_Col_v_2 .child .imageWrap:nth-child(5) {
  width: 46%;
  height: 28px;
}

.pseudo-item .type_5_Col_v_2 .child .imageWrap {
  width: 29.3%;
  margin: 1px;
  height: 20px;
}


.type_5_Col_v_3 .child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  align-content: flex-start;
}

.pseudo-item .type_5_Col_v_3 .child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  align-content: flex-start;
  width: 100%;
}

.type_5_Col_v_3 .child .imageWrap {
  height: 128px;
  width: 49.4%;
  margin-bottom: 0;
  margin: 1px;
  /* line-height: 0;

  */
}

.pseudo-item .type_5_Col_v_3 .child .imageWrap {
  height: 18px;
  width: 49.4%;
  margin-bottom: 0;
  margin: 1px;
  /* line-height: 0;

  */
}

.type_5_Col_v_3 .child .imageWrap:nth-child(4),
.type_5_Col_v_3 .child .imageWrap:nth-child(5) {
  height: 193px;
}

.pseudo-item .type_5_Col_v_3 .child .imageWrap:nth-child(4),
.pseudo-item .type_5_Col_v_3 .child .imageWrap:nth-child(5) {
  height: 28px;
}




.type_5_Col_v_4 .child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 59%;
  align-content: flex-start;
}

/* .type_5_Col_v_4 {
  width: 400px;
  margin: 0 auto;
} */

.type_5_Col_v_4 .child .imageWrap {
  height: 49.1%;
  width: 32.8%;
  margin-bottom: 0;
  margin: 1px;
}

.type_5_Col_v_4 .child .imageWrap:nth-child(3) {
  height: 100%;
}


.pseudo-item .type_5_Col_v_4 .child {
  width: 100%;
}

.pseudo-item .type_5_Col_v_4 .child .imageWrap {
  height: 43.9%;
  width: 29.8%;
  margin-bottom: 0;
  margin: 1px;
}

.pseudo-item .type_5_Col_v_4 .child .imageWrap:nth-child(3) {
  height: 100%;
}




.type_6_Col_v_3 .child {
  display: grid;
  grid-template-columns: repeat(minmax(22px, 1fr));
  grid-gap: 1px;
  grid-auto-rows: minmax(22px, auto);
  grid-auto-flow: dense;
  padding: 1px;
  line-height: 0;
  height: 394px;
}

/* .type_6_Col_v_3 {
  width: 400px;
  margin: 0 auto;
} */

.type_6_Col_v_3 .imageWrap {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #ccc;
  line-height: 0;
  width: 128px;
}


.type_6_Col_v_3 .child .imageWrap:nth-child(3) {
  grid-column-end: span 7;
  grid-row-end: span 2;
  width: 148px;
  height: 195px;
}



.type_6_Col_v_3 .child .imageWrap:nth-child(1) {
  grid-column-end: span 9;
  height: 196px;
  grid-row-end: span 2;
  width: 100%;
}



.pseudo-item .type_6_Col_v_3 .child {
  display: grid;
  grid-template-columns: repeat(minmax(62px, 1fr));
  grid-gap: 1px;
  grid-auto-rows: minmax(12px, 28px);
  grid-auto-flow: dense;
  padding: 1px;
  height: 64px;
}

.pseudo-item .type_6_Col_v_3 .imageWrap {
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #ccc;
  border-radius: 0px;
  width: 21px;
}


/* .pseudo-item {
  height: 73px;
  width: 65px;
  margin: 0 auto;
} */

.pseudo-item .type_6_Col_v_3 .child .imageWrap:nth-child(3) {
  grid-column-end: span 7;
  grid-row-end: span 2;
  width: 18px;
  height: 31px;
}

.pseudo-item .type_6_Col_v_3 {
  width: 100%;
}

.pseudo-item .type_6_Col_v_3 .child .imageWrap:nth-child(1) {
  grid-column-end: span 9;
  height: 30px;

}




.type_6_Col_v_4 .child {
  display: grid;
  grid-template-columns: repeat(minmax(22px, 1fr));
  grid-gap: 1px;
  grid-auto-rows: minmax(22px, auto);
  grid-auto-flow: dense;
  padding: 1px;
  line-height: 0;
  height: 394px;
}

/* .type_6_Col_v_4 {
  width: 400px;
  margin: 0 auto;
} */

.type_6_Col_v_4 .imageWrap {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #ccc;
  line-height: 0;
  width: 128px;
}


.type_6_Col_v_4 .child .imageWrap:nth-child(2) {
  grid-column-end: span 7;
  grid-row-end: span 2;
  width: 148px;
  height: 195px;
}

.type_6_Col_v_4 .child .imageWrap:nth-child(6) {
  grid-column-end: span 9;
  height: 196px;
  grid-row-end: span 2;
  width: 100%;
}




.pseudo-item .type_6_Col_v_4 .child {
  display: grid;
  grid-template-columns: repeat(minmax(62px, 1fr));
  grid-gap: 1px;
  grid-auto-rows: minmax(20px, auto);
  grid-auto-flow: dense;
  padding: 1px;
  height: 64px;
}

.pseudo-item .type_6_Col_v_4 .imageWrap {
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #ccc;
  border-radius: 0px;
  width: 21px;
}


/* .pseudo-item {
  height: 73px;
  width: 65px;
  margin: 0 auto;
} */

.pseudo-item .type_6_Col_v_4 .child .imageWrap:nth-child(2) {
  grid-column-end: span 7;
  grid-row-end: span 2;
  width: 18px;
  height: 41px;
}

.pseudo-item .type_6_Col_v_4 {
  width: 100%;
}

.pseudo-item .type_6_Col_v_4 .child .imageWrap:nth-child(6) {
  grid-column-end: span 9;
  height: 21px;

}






.type_6_Col_v_1 .child {
  display: flex;
  grid-gap: 1px;
  flex-wrap: wrap;

}
.type_6_Col_v_1 .imageWrap {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #ccc;
  border-radius: 0px;
  width: 33%;
  margin-bottom: 0 !important;
}

.pseudo-item .type_6_Col_v_1 .child {
  display: flex;
  grid-gap: 1px;
  flex-wrap: wrap;
  width: 100%;
}

.pseudo-item .type_6_Col_v_1 .imageWrap {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #ccc;
  border-radius: 0px;
  width: 32.1%;
  margin-bottom: 0 !important;
}


.type_6_Col_v_2 .child {
  display: flex;
  grid-gap: 1px;
  flex-wrap: wrap;
}


.type_6_Col_v_2 .imageWrap {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #ccc;
  border-radius: 0px;
  width: 33%;
  margin-bottom: 0 !important;
}

#header-done-button {
  border-radius: 0;
  color: #fff;
  fill: #fff;
  background-color: #3caac2;
  border-color: #3caac2;
}

app-image-transformer {
  height: 50vh;
}

.child .imageWrap img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
 .imageWrap img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}